<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>AiSSS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        body{
            background: white;
        }
        .logtext{
            border: solid black;
            border-radius: 15px;
        }
        .logtext>p{
            color:black;
        }
        .gif-container {
          background: url("https://media.tenor.com/images/6a5bcfba04e217d91f7aec29849ae208/tenor.gif") center;
          background-size: cover;

          height: 100%;
          display: none;
        }
    </style>
</head>

<body>
    <div class="gif-container"></div>
    <div class="container-fluid">
         <button type="button" class="btn btn-primary" style="margin-top: 2px"><a style="text-decoration: none; color:white" href="{{ url_for('register') }}">Daftar</a></button>
        <button type="button" class="btn btn-primary" style="margin-top: 2px"><a style="text-decoration: none; color:white" href="{{ url_for('logout') }}">Log Keluar</a></button>
        <div class="row">
            <div class="col-6">
                <img style=" width: 80px; height: 70px; margin-left: 90%" src="/static/logoindon.jpeg" alt="">
                <!-- <button class="btn btn-info" type="submit"><i class="fa fa-play"></i> Play</button>
                <button class="btn btn-info"  type="submit"><i class="fa fa-pause"></i> Pause</button>
                <button class="btn btn-info" type="submit"><i class="fa fa-refresh"></i> Playback</button> -->
            </div>
        </div>
        <div class="row">
            <p style="margin-left: 40%;font-family: Century Gothic;font-size: 10px;letter-spacing: 1px">Tentara Nasional Indonesia</p>
            <p style="font-size: 22px; margin-left: 30%">Artificial Intelligence Security Surveillance System</p>
        </div>
        <div class="row" >
            <div class="col-8">
                <button type="button" class="btn btn-primary" style="margin-bottom: 2px" onclick="trainthis()">Face Training</button>
                <div class="row" >
                    <div class="col-6" style="border: solid 1px black">
                        <label>Camera 1</label><img style="width: inherit" src="{{ url_for('video_feed', cam_id=0) }}">
                    </div>
                    <div class="col-6"style="border: solid 1px black">
                        <label>Camera 2</label><img style="width: inherit" src="{{ url_for('video_feed', cam_id=1) }}">
                    </div>
                    <div class="col-6" style="border: solid 1px black">
                        <label>Camera 3</label><img style="width: inherit" src="{{ url_for('video_feed', cam_id=2) }}">
                    </div>
                    <div class="col-6" style="border: solid 1px black">
                        <label>Camera 4</label><img style="width: inherit" src="{{ url_for('video_feed', cam_id=3) }}">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">

                    <select id="change_custom" class="form-control">
                        <option value="known">Known</option>
                        <option value="unknown">Unknown</option>
                    </select>

                    <div class="col-5">
                        <span style="color:black">FROM : </span><input type="datetime-local" id="datetimefrom" name="datetimefrom">
                    </div>
                    <div class="col-5">
                        <span style="color:black">TO : </span><input type="datetime-local" id="datetimeto" name="datetimeto">
                    </div>
                    <div class="col-2">
                        <button type="button" onclick="filterbydatetimestamp()" class="btn btn-primary">Filter</button>
                    <!-- <div class="col-6" id="capturedImagestest">
                        <button class="btn btn-info"><i class="fa fa-play"></i> Image Logs</button>
                        <button class="btn btn-info" onclick="refreshstorage()"><i class="fa fa-play"></i> Refresh Logs</button> -->

                    </div>
                </div>
                <div class="row">
                    <div style="height: 375px; overflow-y: scroll; overflow-x: hidden" class="col logtext" id="capturedImages">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <button class="btn btn-info"><i class="fa fa-paper"></i> Logs</button>
            </div>
        </div>
        <div class="row">
            <div class="col logtext">
                <p>2019:20:20 11:37 Face Detected</p>
                <p>2019:20:20 11:37 Face Detected</p>
                <p>2019:20:20 11:37 Face Detected</p>
                <p>2019:20:20 11:37 Face Detected</p>
                <p>2019:20:20 11:37 Face Detected</p>
            </div>
        </div>
    </div>
     

<script>
    var dt = new Date();
    dt.toLocaleDateString();
    function refreshstorage(fromtime,totime,change_custom) {
        var settings = {
          "async": true,
          "crossDomain": true,
          "url": "{{configs.HOST_IP}}/storage?fromtime="+fromtime+"&to="+totime+"&change_custom="+change_custom,
          "method": "GET",
          "headers": {
            "Accept": "*/*",
          }
        }

        $.ajax(settings).done(function (response) {
            $("#capturedImages").empty();
            response.filelist.map(writetodom);
        });
    }


    function writetodom(filepath) {
        window.customdom = '';
        customdom += '<div class="row">';
            customdom += '<div class="col-3">';
            
                 if(document.getElementById("change_custom").value == 'known')
                 {
                     customdom += '<img style="width: inherit" src="/static/known/'+filepath+'">';
                 }
               
                else 
                {
                    customdom += '<img style="width: inherit" src="/static/unknown/'+filepath+'">';
                }
            customdom += '</div>';

             customdom += '<div class="col-6 p-0">';
                if(document.getElementById("change_custom").value == 'known')
                {
                        customdom += '<p style="color:black">'+filepath+' </p>';
                    customdom += '</div>';
                    customdom += '<div class="col-3" >';
                        customdom += '<p style="color:black">'+ dt + '</p>';
                    customdom += '</div>';
                }
                else
                {
                        customdom += '<p style="color:red">'+filepath+' </p>';
                    customdom += '</div>';
                    customdom += '<div class="col-3" >';
                        customdom += '<p style="color:red">'+ dt + '</p>';
                    customdom += '</div>';
                }
           customdom += '</div>';

        $("#capturedImages").append(customdom);
    }
    function filterbydatetimestamp() {
        // body...
        console.log("filter iamges");
        console.log("datetimeto : ",new Date($("#datetimeto").val()).getTime());
        console.log("datetimefrom : ",new Date($("#datetimefrom").val()).getTime());
        if ((new Date($("#datetimeto").val()).getTime()) && (new Date($("#datetimefrom").val()).getTime())) {
            console.log("correct time")
            refreshstorage(new Date($("#datetimefrom").val()).getTime(),new Date($("#datetimeto").val()).getTime(),new String($("#change_custom").val()));
        }
        
    }
    function trainthis(){
        $(".gif-container").show()
        console.log("beign traing")
        var settings = {
          "async": true,
          "crossDomain": true,
          "url": "{{configs.HOST_IP}}/training",
          "method": "GET",
          "headers": {
            "Accept": "*/*",
          }
        }

        $.ajax(settings).done(function (response) {
            console.log("endpoint:",response);
            // $("#capturedImages").empty();
            // response.filelist.map(writetodom);
            $(".gif-container").hide()
            location.reload();
        });
    }
    // setTimeout(function(){ refreshstorage() }, 900);
    
</script>
</body>
</html>