<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
<title>AiSSS</title>

{% block body %}

<form action="/" method="POST">
     <img src="/static/logoindon.jpeg" class="logo">
            <p class="txtLogo">Tentara Nasional Indonesia</p>
   
    <div class="home">
        <p class="txtName">Artificial Intelligence Security Surveillance System</p>
        <input type="text" id="username" name="username" value="{{request.form.username}}" class="username" placeholder="Nama Pengguna">
        <br>
        <input type="password" id="password" name="password" value="{{request.form.password}}" class="password" placeholder="Kata Sandi">
        <br>
        <button type="submit" class="btnLogin">Log Masuk</button>
        
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>
</form>
        
{% endblock %}
